body {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    background-image: url(/Img/BG.jpg);
    align-items: center;
    letter-spacing: 2px;
}


#canvas {
    border: 3px solid rgba(103, 15, 15, 0.509);
}

h1 {
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px black;
}


h3 {
    margin-top: 2px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px black;
}

.navBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    text-align: center;
}


.navBar p {
    color:  white;
    font-size: 20px;
    text-shadow: 2px 2px black;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.score h2 {
    margin-bottom: 5px;
    font-size: 25px;
    color:white;
    text-shadow: 2px 2px black;
}

.midSection {
    display: flex;
    flex-direction: column;
}

.midSection img {
    margin: 5px 0px;
    width: 85%;
    align-self: center;
}

.score img {
    align-self: center;
    padding-top: 50px;
    width: 200px;
}

.instructions {
    padding: 10px;
    border: 3px solid rgba(103, 15, 15, 0.509);
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.192);
}

.rightSide {
    padding: 10px;
    border: 3px solid rgba(103, 15, 15, 0.509);
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.192);
}