body {
    display: flex;
    justify-content: center;
    background-image: url(/Img/BG.jpg);
    align-items: center;
}

#canvas {
    margin-top: 30px;
    border: 10px solid rgba(0, 0, 0, 0.37);
    background-image: url(/Img/stonewallbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}